<div [@slideUp] class="add-category">
    <div *ngIf="transaction">
        <mat-toolbar>
            <i class="material-icons" (click)="back()">arrow_back</i>
            <span class="fill-space"></span>
            <i class="material-icons icon" routerLink="/transaction/edit/{{transaction._id}}">mode edit</i>
            <i class="material-icons icon" (click)="del(transaction._id)">delete</i>
        </mat-toolbar>
        <div>
            <div>
                <label>Amount:</label>
                <label placeholder="name">{{transaction.Amount}}</label>
            </div>
            <div>
                <app-category-item [category]="transaction.categoryName"></app-category-item>
            </div>
        </div>
    </div>
