<div *ngIf="!isSelectCategory" (click)="displaySelectAccount()" class="account">
    <div *ngIf="selectedAccount">
        <mat-list>
            <mat-list-item class=" category">
                <!-- <img mat-list-avatar [src]="selectedAccount.Icon"> -->
                <span class="category-name">
                    {{selectedAccount.Name}}
                </span>
                <span>{{selectedAccount.Amount}}</span>
            </mat-list-item>
        </mat-list>
    </div>
</div>
<div *ngIf="isSelectAccount" class="account-list" [@flyInOut]>
        <mat-toolbar>
                <i class="material-icons" (click)="back()">arrow_back</i>
            </mat-toolbar>
    <div mat-button *ngFor="let account of accounts" (click)="select(account)" class=" category">
        <mat-list>
            <mat-list-item class=" category">
                <!-- <img mat-list-avatar [src]="account.Icon"> -->
                <span class="category-name">
                    {{account.Name}}
                </span>
                <span class="category-name">
                    {{account.Amount}}
                </span>
            </mat-list-item>
        </mat-list>
    </div>
</div>

